<a href="/">Search Again</a>
<div class="container">
    <h3>Total Results: {{total_count}}</h3>

    {{#each body.items as |repo|}}
        <h1>{{repo.name}}</h1>
        <img src="{{repo.owner.avatar_url}}" /><h4>{{repo.owner.login}}</h4>
        <h5>Description: {{repo.description}}</h5>
        <h6>Language: {{repo.language}}</h6>
        <h6>License: {{repo.license.name}}</h6>
        <h6>Created: {{repo.created_at}}</h6>
        <h6>Last Updated: {{repo.updated_at}}</h6>
        <h6>Number of Stars: {{repo.stargazers_count}}</h6>
        <h6>Number of Forks: {{repo.forks}}</h6>
        <h6>Link: <a href="{{repo.html_url}}">{{repo.html_url}}</a></h6>
        <h1>=====================================================</h1>
    {{/each}}
</div>
