<a id="search_again" href="/">Search Again</a>
<div class="container">
    <h3>Total Results: {{total_count}}</h3>

    {{#each body.items as |repo|}}
          <div class="card">
            <h1 class="repo-name">{{repo.name}}</h1>
            <img class="card-image" src="{{repo.owner.avatar_url}}" /><h4 class="center">{{repo.owner.login}}</h4>
            <h5 class="center">Description: {{repo.description}}</h5>
            <div class="card-container">
              <h6 class="center">Language: {{repo.language}}</h6>
              <h6 class="center">License: {{repo.license.name}}</h6>
              <h6 class="center">Created: {{repo.created_at}}</h6>
              <h6 class="center">Last Updated: {{repo.updated_at}}</h6>
              <h6 class="center">Stars: {{repo.stargazers_count}}</h6>
              <h6 class="center">Forks: {{repo.forks}}</h6>
              <h6 class="center"><a href="{{repo.html_url}}">{{repo.html_url}}</a></h6>
            </div>
          </div>
    {{/each}}
</div>
