<a class="btn btn-primary" id="search-again" href="/">Search Again</a>
<div class="container">
    
    <div class="row">
        <h3 id="total-num-pages">Current Page: {{curr_page}} | Total Returned Pages: {{total_pages}}</h3>
    </div>
    {{#if total_pages}}
        <div class="row">
            <form action="/results/page" method="POST">
                <div class="form-group">
                    <input type="text" name="page" placeholder="Enter a page number to traverse to: e.g. 15" autocomplete="off" class="search" id="search-page-input">
                </div>
            </form>
        </div>
    {{/if}}

    {{#each body.items as |repo|}}
        <div class="card">
            <h1 class="repo-name">{{repo.name}}</h1>
            <div class="char-box">
                <img class="card-image" src="{{repo.owner.avatar_url}}" /><h4 class="center">{{repo.owner.login}}</h4>
            </div>
            <h5 class="center">Description: {{repo.description}}</h5>
            <div class="card-container">
                <div class="descript-box">
                <div class="row justify-content-between align-items-center">
                    <div class="col-5">
                    <h6 class="center desc-text">Language: {{repo.language}}</h6>
                    <h6 class="center desc-text">License: {{repo.license.name}}</h6>
                    <h6 class="center desc-text">Created: {{repo.created_at}}</h6>
                    <h6 class="center desc-text">Last Updated: {{repo.updated_at}}</h6>
                    </div>
                    <div class="col-5">
                    <h6 class="center desc-text">Stars: {{repo.stargazers_count}}</h6>
                    <h6 class="center desc-text">Forks: {{repo.forks}}</h6>
                    </div>
                </div>
            </div>
            </div>
            <h6 class="center"><a href="{{repo.html_url}}"><button class="btn btn-lg btn-primary">See Repository</button></a></h6>
        </div>
    {{/each}}

    {{#if total_pages}}
        <nav>
            <ul class="pagination justify-content-end" id="pagination-list">
                {{#if prev_page}}
                    <li class="page-item">
                {{else}}
                    <li class="page-item disabled">
                {{/if}}
                    <form action="/results/page" method="POST">
                        <button class="page-link" name="page" type ="submit" class="button" value={{prev_page}}>Previous</button>
                    </form>
                </li>
                <li class="page-item"><a class="page-link">{{curr_page}}</a></li>
                {{#if next_page}}
                    <li class="page-item">
                {{else}}
                    <li class="page-item disabled">
                {{/if}}
                    <form action="/results/page" method="POST">
                        <button class="page-link" name="page" type="submit" class="button" value={{next_page}}>Next</button>
                    </form>
                </li>
            </ul>
        </nav>
    {{/if}}
</div>
